.profile__image {
  max-width: 120px;
  max-height: 120px;
  align-self: center;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (max-width: 699px) {
  .profile__image {
    margin-top: 3px;
    margin-bottom: 26px;
  }
}