.profile__avatar {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
  align-self: center;
  object-fit: cover;
}

@media screen and (max-width: 699px) {
  .profile__avatar {
    max-width: 169px;
  }
}